[Unit]
Description=OpenDirectory Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=
ExecStart=/usr/bin/python run.py

[Install]
WantedBy=multi-user.target
